body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,69,37,1) 50%, rgba(255,0,0,1) 100%);
    color: white;
    margin: 0;
}

.rsd-header, 
.arena-wrapper,
.button-wrapper,
.score-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.rsd-header {
    margin: 2em auto;
    
}

.rsd-header h1 {
    font-family: "Bowlby One", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    font-weight: 400;
}

.rsd-header h2 {
    font-family: "Secular One", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1,5em;
    font-weight: 300;
}

.arena-wrapper {
    min-height: 28em;
    width: 100%;
    margin: 0;
}

.arena-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 1em 5em;
    border-bottom: solid white;
    border-width: 1px;
}

.arena-container h1 {
    font-family: "Bowlby One", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 400;
}

.arena-container h2 {
    font-family: "Bowlby One", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 400;
}

/* JS styling test*/

#arena-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.player-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#arena-bottom {
    margin: 20px auto;
}

/* JS styling test*/

.cta-text {
    font-family: "Bowlby One", sans-serif;
    font-size: 2.1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.rsd-button,
.rsd-chosen {
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 50%;
    margin: 0 30px;
    width: 150px;
    height: 150px;
    padding: 0,3em;
    text-align: center;
    background-color: transparent;
    border: dashed white;
    border-width: 3px;
    color: white;
    font-size: 4em;
}

.rsd-chosen {
    width: 200px;
    height: 200px;
    padding: 0,3em;
    text-align: center;
    background-color: white;
    border: solid white;
    border-width: 3px;
    color: #ff4525;
    font-size: 5em;
}



.rsd-button:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    background-color: white;
    filter: drop-shadow(0 0 13px crimson);
    color: #ff4525;
    border: none;
}

.rsd-button:active {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    background-color: #e6e6e6;
    filter: drop-shadow(0 0 13px crimson);
    color: #ff4525;
    border: none;
}


.score-container {
    margin-top: 40px;
    margin-bottom: 5px;
    font-family: "Secular One", sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
}